.navLink{
    color: rgb(250, 247, 244);
}
.navList{
 display: flex;
 flex-direction: column;
 justify-content: start; 
  
}

.navItem{
    font-size:30px
}

.navItem:not(:last-child){
margin-bottom: 50px;
}
.sidebarBrand{
    background-color: antiquewhite;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.activeLink{
        text-decoration: none;
        color: rgb(243, 102, 42);
}